body {
   font-family: "Open Sans", sans-serif;
   color:#020202;
  
}

header{
     background-image:url("./img/faded-office.png");
     background-size:cover;
     padding: 40px 40px 80px 40px;
     display:flex;
     flex-direction: column;
     width:1000px;
     margin:0 auto;
     
}

h1{
    width:300px;
    font-weight: 900;
    font-size: 3rem;
    margin : -5px;
}

h2{
    font-weight: 100;
    text-shadow: 0 0 1px black;
    width:300px;
    font-size: 1.65rem;
}

button {
    border:2px solid #0EA5E9;
    color:#ffffff;
    background-color: #0EA5E9;
    padding: 15px;
    margin : 25px 0 0 0;
    font-weight: 600;
    width:125px;
    
}

span {
    text-decoration: 4px underline #0EA5E9;
}

footer {
    text-align:center;
      width:1000px;
     margin:0 auto;
}

